<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.softwareprojects.androidtasks"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/tasks" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".TaskList"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TaskNotification" 
        	android:label="@string/notification_activity_name" />
        <activity android:name=".TaskRecurrence" 
        	android:label="@string/recurrence_activity_name" />
		<activity android:name=".EditTask"
			android:label="@string/edit_task_activity_name">
		</activity>
		<activity android:name=".Preferences"
			android:label="@string/preferences_activity_name" />
		<receiver android:name=".TaskAlarmReceiver">
		</receiver>
		<service android:name=".AndroidTaskService" android:enabled="true">
			<intent-filter>
				<data android:scheme="androidtask" android:path="task/recurrent/" />
				<action android:name="com.softwareprojects.androidtasks.TASKRECURRENCE"/>
			</intent-filter>
		</service>
    </application>
	<uses-permission android:name="android.permission.VIBRATE"/>
</manifest> 
